html, body {
  margin: 0vw;
  padding: 0vw;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  background-color: aliceblue;
}

header {
  position:fixed;
  color: black;
  display: inline-flex;
  flex-direction: row;
  background-color: azure;
  border-bottom: teal solid 0.2vw;
  font-size: 1vw;
  padding-top: 1vw;
  padding-bottom: 4vw;
  padding-left: 0.5rem;
  padding-right: 100%;
  margin-bottom: 0vw;
}

nav {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  margin-left: 27.5%;
}

nav a{
  color: black;
  text-decoration: none;
  border-bottom: black 0.1vw solid;
  border-top: azure 0.1vw solid;
  border-left: azure 0.5vw solid;
  border-right: azure 0.5vw solid;
  margin-left: 5vw;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
}

nav a:hover {
  color:coral;
  animation-name: hovernavstyle;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logoabsoluta {
  position: absolute;
  display: inline-flex;
  margin-left: 10%;
}

.logo {
  width: 3vw;
  height: 3vw;
  border: none;
  border-radius: 100%;
}

.logonome {
  margin: 0%;
  padding-top: 0.7vw;
  padding-left: 5%;
  border: none;
  font-size: 1.5vw;
}

.img {
  width: 15vw;
  height: 15vw;
}

.localcadastro {
  display: flex;
  position: absolute;
  margin-left: 75%;
}

.localcadastro a{
  margin-left: 1rem;
  text-decoration: none;
}

.login {
  color: black;
  border-bottom: black 0.1vw solid;
  border-top: azure 0.1vw solid;
  border-left: azure 0.5vw solid;
  border-right: azure 0.5vw solid;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
}

.login:hover {
  color:  coral;
  animation-name: hovernavstyle;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.cadastro {
  color:black;
  background-color: transparent;
  padding: 1vw;
  border: solid teal 0.15vw;
  border-radius: 1svw;
}

.cadastro:hover {
  background-color: aquamarine;
}

@keyframes hovernavstyle {
  0% {  border-top: azure 0rem solid;}
  100% {  border-top: black 0.1vw solid;}
}

section {
  width: 100%;
  margin: 0%;
  padding-top: 5%;
  padding-bottom: 1%;
  background-color: azure;
}

section p, a{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-size: 1vw;
}

.herodiv {
  background-image: linear-gradient(rgb(78, 248, 248), rgb(129, 248, 248), azure);
  padding-bottom: 6%;
  padding-top: 2%;
}


.herodiv a:hover {
  background-color: teal;
  border-color: teal;
}

.herotitle {
  margin-left: 35%;
  margin-right: 10%;
  margin-bottom: 1.5vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: coral;
}

.antiherotitle {
  margin-left: 35%;
  margin-right: 10%;
  font-size: 2vw;
  font-weight: bold;
  color: coral;
}

.herodiv a {
  position: static;
  color: white;
  background-color: coral;
  border: 0.2vw coral solid;
  border-radius: 2rem;
  padding: 0.8vw;
  font-size: 1.2vw;
  font-weight: bold;
  margin-left: 0%;
}

.descriptivetext {
  background-color: transparent;
  color: black;
  margin: 0%;
  margin-top: 0vw;
  font-size: 1vw;
  margin-bottom: 2vw;
  list-style-type:circle;
}

.descriptivetext div {
  display: inline-flex;
  margin: 0%;
  margin-top: 1vw;
  margin-left: 0%;
}

.descriptivetext p {
  list-style:circle;
  margin: 0%;
  padding-right: 5vw;
  font-weight: bold;
}

.text1 {
  margin: 0%;
  margin-top: 1%;
}

.heroimg {
  float:left;
  margin-left: 10%;
  width: 26vw;
  height: 20vw;
}

footer {
  width: 100%;
  border-top: 0.2vw teal solid;
  background-color: azure;
}

footer div {
  display: flex;
  margin-left: 15vw;
  margin-top: 0.25%;
  font-size: 0.9vw;
}

footer div a {
  color: black;
  text-decoration: none;
  margin-left: 10vw;
  padding-bottom: 0.4vw;
  padding-top: 0.4vw;
}

footer div a:hover {
  color: coral;
}

.footerend {
  background-color: azure;
  position: absolute;
  display: flex;
  font-size: 0.8vw;
  padding-left: 40%;
  padding-right: 40%;
}

/*/ aaa/*/