html, body {
  margin: 0vw;
  padding: 0vw;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  background-color: white;
}

/*/ BARRA DE NAVEGACAO /*/

header {
  position:fixed;
  color: black;
  display: inline-flex;
  flex-direction: row;
  background-color: azure;
  border-bottom: teal solid 0.2vw;
  font-size: 1vw;
  padding-top: 1vw;
  padding-bottom: 4vw;
  padding-left: 0.5rem;
  padding-right: 100%;
  margin-bottom: 0vw;
}

nav {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  margin-left: 27.5%;
}

nav a{
  color: black;
  text-decoration: none;
  border-bottom: black 0.1vw solid;
  border-top: azure 0.1vw solid;
  border-left: azure 0.5vw solid;
  border-right: azure 0.5vw solid;
  margin-left: 5vw;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
}

nav a:hover {
  color:coral;
  animation-name: hovernavstyle;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logoabsoluta {
  position: absolute;
  display: inline-flex;
  margin-left: 10%;
}

.logo {
  width: 3vw;
  height: 3vw;
  border: none;
  border-radius: 100%;
}

.logonome {
  margin: 0%;
  padding-top: 0.7vw;
  padding-left: 5%;
  border: none;
  font-size: 1.5vw;
}

.img {
  width: 15vw;
  height: 15vw;
}

.localcadastro {
  display: flex;
  position: absolute;
  margin-left: 75%;
}

.localcadastro a{
  margin-left: 1rem;
  text-decoration: none;
}

.login {
  color: black;
  border-bottom: black 0.1vw solid;
  border-top: azure 0.1vw solid;
  border-left: azure 0.5vw solid;
  border-right: azure 0.5vw solid;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
}

.login:hover {
  color:  coral;
  animation-name: hovernavstyle;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.cadastro {
  color:black;
  background-color: transparent;
  padding: 1vw;
  border: solid teal 0.15vw;
  border-radius: 1svw;
}

.cadastro:hover {
  background-color: aquamarine;
}

@keyframes hovernavstyle {
  0% {  border-top: azure 0rem solid;}
  100% {  border-top: black 0.1vw solid;}
}

/*/ CONTEUDO PRICNIPAL /*/

section {
  width: 100%;
  margin: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: linear-gradient(rgb(143, 255, 255), rgb(129, 248, 248), white, white, white, white, white, white, white);
}

.herodiv {
  margin: 0%;
  margin-top: 1.5%;
  padding: 0%;
  margin-left: 10%;
  margin-right: 10%;
}

.herodiv p {
  margin: 0;
  margin-top: 4%;
  margin-left: 35%;
  margin-right: 0%;
  text-align: center;
}

.herodiv a {
  margin: 0%;
  padding: 1.1vw;
  border: coral solid 0.1vw;
  background-color: coral;
  border-radius: 2rem;
  color: white;
  font-size: 1.2vw;
  font-weight: normal;
  text-decoration: none;
}

.herodiv a:hover {
  background-color: teal;
  border-color: teal;
}

.herotable{
  font-size: 1vw;
  margin: 0%;
  padding-top: 1%;
  padding-left: 1vw;
}

.herotable tr, th {
  margin: 0%;
  padding-right: 7vw;
  padding-left: 0vw;
  padding-top: 0.6vw;
  text-align: left;
}


.herocontent {
  margin: 0%;
  margin-left: 35%;
}

.herocontent h1 {
  margin: 0%;
  padding: 0%;
  font-size: 2.4vw;
  font-weight: normal;
  text-align: left;
  color: coral;
}

.herocontent h2 {
  margin: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0%;
  font-size: 2vw;
  font-weight: normal;
  text-align: left;
  color: coral;
}

.herocontent h3 {
  margin: 0%;
  margin-bottom: 1%;
  padding: 0%;
  font-size: 1vw;
  font-weight: normal;
  text-align: left;
}

.heroimg {
  float: left;
  margin: 0%;
  padding: 0%;
  padding-bottom: 10%;
  width: 35%;
}

/*/ AREA DE PLANOS /*/

.planosdiv {
width: auto;
margin: 0%;
margin-top: 5%;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 5%;
}

.planosdiv p {
  margin: 0%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5%;
  padding: 0;
  font-weight: bold;
  font-size: 2.5vw;
  color: teal;
  text-align: center;
}

.planosdiv h1, h2, h3 {
  text-align: center;
  margin: 0%;
  padding: 0%;
  font-weight: normal;
  font-size: 1vw;
}

.planos {
  display: inline-flex;
  margin: 0%;
  margin-left: 10%;
  margin-right: 10%;
}

.planogratuito {
  flex: 1;
  border: 0.25vw black solid;
  border-radius: 1rem;
  margin: 0%;
  margin-right: 5%;
  background-color: aliceblue;
}

.planogratuito p {
  margin: 0%;
  padding: 0%;
  font-weight: normal;
  font-size: 1vw;
  color: black;
  text-align: center;
}

.planogratuito h1 {
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1.25vw;
  margin-top: 1vw;
}

.planogratuito h2 {
  font-size: 0.9vw;
  margin-bottom: 1.25vw;
}

.planogratuito h3 {
  font-size: 2vw;
  border-top: black solid 0.15vw;
  border-bottom: black solid 0.15vw;
  padding: 0.5vw;
}

.planobasico {
  flex: 1;
  border: 0.25vw teal solid;
  border-radius: 1rem;
  margin: 0%;
  margin-right: 5%;
  background-color: aliceblue;
}

.planobasico p {
  margin: 0%;
  padding: 0%;
  font-weight: normal;
  font-size: 1vw;
  color: black;
  text-align: center;
}

.planobasico h1 {
  color: teal;
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1.25vw;
  margin-top: 1vw;
}

.planobasico h2 {
  font-size: 0.9vw;
  margin-bottom: 1.25vw;
  padding-left: 0.1vw;
  padding-right: 0.1vw;
}

.planobasico h3 {
  font-size: 2vw;
  border-top: teal solid 0.15vw;
  border-bottom: teal solid 0.15vw;
  padding: 0.5vw;
}


.planopremium {
  flex: 1;
  border: 0.25vw coral solid;
  border-radius: 1rem;
  margin: 0%;
  background-color: aliceblue;
}

.planopremium p {
  margin: 0%;
  padding: 0%;
  font-weight: normal;
  font-size: 1vw;
  color: black;
  text-align: center;
}

.planopremium h1 {
  color: coral;
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
  margin-top: 1vw;
}

.planopremium h2 {
  font-size: 0.9vw;
  margin-bottom: 1vw;
  padding-right: 1vw;
  padding-left: 1vw;
}

.planopremium h3 {
  font-size: 2vw;
  border-top: coral solid 0.15vw;
  border-bottom: coral solid 0.15vw;
  padding: 0.5vw;
}

.conteudo {
  border-collapse: collapse;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 0;
}

.conteudo th {
  margin: 0;
  padding: 0;
  border: 0;
}

.conteudo h1 {
  font-size: 1.5vw;
  color: teal;
  border: none;
  margin: 0;
  padding: 0;
}

.conteudo h2 {
  font-size: 1.5vw;
  color: coral;
  border: none;
  margin: 0;
  padding: 0;
}

.conteudo h3 {
  font-size: 1.5vw;
  color: black;
  border: none;
  margin: 0;
  padding: 0;
}

.conteudo p {
  text-align: center;
  font-size: 1vw; 
  margin: 0;
  padding: 0;
}

.conteudo b {
  font-size: 0.85vw;
  font-weight: bold; 
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  border-top: 0.2vw teal solid;
  background-color: azure;
  padding-bottom: 2vw;
}

footer div {
  display: flex;
  margin-left: 15vw;
  margin-top: 0.25%;
  font-size: 0.9vw;
}

footer div a {
  color: black;
  text-decoration: none;
  margin-left: 10vw;
  padding-bottom: 0.4vw;
  padding-top: 0.4vw;
}

footer div a:hover {
  color: coral;
}

.footerend {
  position: absolute;
  display: flex;
  font-size: 0.8vw;
  padding-left: 40%;
  padding-right: 40%;
}